block footer
    footer.footer 
        .content.has-text-centered
            p.logo Angel Schultz
            p.subtitle 2020 © Angel Schultz 
            a(href='tel:3198304230') Call Me or Text Me
            br
            a(href='mailto:angel.p.schultz@gmail.com') E-mail Me
            nav.navbar(role='navigation', aria-label='footer navigation')
                    a.navbar-item(href='/') Home            
                    a.navbar-item(href='resume') My Resume            
                    a.navbar-item(href='portfolio') My Portfolio            
                    a.navbar-item(href='contact') Contact
                    |