block navigation
    nav.navbar(role= 'navigation', aria-label='main navigation')
            div.navbar-brand
                a.logo(href= '/') Angel Schultz
                    
            div.navbar-menu#navMenu
                .navbar-start
                .navbar-end
                    - var currentUrl = '/';
                    a.navbar-item(class={active: currentUrl === '/'} href='/') Home  
                    |
                    |           
                    a.navbar-item(class={active: currentUrl === 'resume'} href='resume') My Resume            
                    a.navbar-item(class={active: currentUrl === 'portfolio'} href='portfolio') My Portfolio            
                    a.navbar-item(class={active: currentUrl === 'contact'} href='contact') Contact
                    |
            div.navbar-menu.is-active.is-hidden-desktop
                a.navbar-burger(role='button', aria-label='menu', aria-expanded='false', data-target='navMenu')
                    span(aria-hidden='true')
                    br
                    span(aria-hidden='true')
                    br
                    span.hide-this-span(aria-hidden='true')
                    
                        
                  

                script(src="https://code.jquery.com/jquery-3.5.1.min.js")
                script.
                   $(document).ready(function() {

                        // Check for click events on the navbar burger icon
                        $(".navbar-burger").click(function() {

                            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                            $("a.navbar-burger").toggleClass("is-active");
                            $("#navMenu").toggleClass("is-active");

                        });
                        });
                    
                        