@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

@import url("https://use.typekit.net/jri1ggg.css");



// Variables 
$dark-blue: #0E2A38; 
$tealish: #2FA08A; 

//Bulma

$body-background-color: $dark-blue;
$body-color: $white-ter; 
$navbar-background-color: $tealish; 
$title-color: $white-ter; 
$title-family: 'viktor-script', sans-serif; 
$navbar-item-color: $dark-blue; 
$navbar-item-hover-background-color: $tealish; 
$navbar-item-hover-color: $white-ter; 
$family-primary: 'serenity light', sans-serif; 
$title-size: 5rem; 

//Elements
nav {
    font-family: 'serenity light', sans-serif;
     padding-right: 1em; 
    .navbar-item {
        font-size: 1.5em; 
    }
    .navbar-menu.is-active {
        margin: 0 auto; 
        
    }
    a.navbar-burger {
        color: $dark-blue;  
        margin: 0 auto;
        width: auto;  
        height: 4.25rem;
        span {
            width: 5%;
            padding: 3.5px;
          
             }
            }
}
.navbar-menu {
    padding-right: 0.5em; 
}
.logo {
    font-family: 'viktor-script', sans-serif;
    font-style: normal; 
    font-size: 5em;
    color: $dark-blue;
    margin: auto 0;  
    padding-left: 0.25em;   
}

.container.is-fluid {
    margin-top: 2em; 
}

.title {
    text-align: center;
}


//Media queries
@media (max-width: $desktop - 1) {
    .logo {
        margin: auto; 
        margin-top: 0.25em; 
        padding-left: 0; 
        font-size: 500%; 
    }
    nav {
        .navbar-item {
            text-align: center;
            font-size: 250%; 
        }
       .navbar-menu.is-active.navbar-burger {
                span:nth-child(2) {
                    visibility: hidden;
            }
        }
    }
}



// Import Bulma Variables
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
