extends layout.pug

block content
 - var fluid = ['container', 'is-fluid']
        div(class=fluid)
          section.hero  
            .hero-body
              .container
                h1.title Welcome to my page.
                h2.subtitle My name is Angel and I am a full stack web developer.



  
