doctype html
html
  head
    title= title
    link(rel='stylesheet', href="css/main.css") 
    link(rel='icon', type='image/png', sizes='32x32', href='imgs/favicon-2.png')
    include includes/navigation.pug
  body
    block navigation
    - var fluid = ['container', 'is-fluid']
    div(class=fluid)
        block content