doctype html
html
  head
    title= title
    link(rel='stylesheet', href="css/main.css") 
    link(rel='icon', type='image/png', sizes='32x32', href='imgs/favicon-2.png')
    include includes/navigation.pug
  body
    block navigation
    
          block content
    
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
                script.

                        // Toggle the "is-active" class
                        $(".pageloader").toggleClass("is-active");
              
                    