doctype html
html
  head
    title= title
    link(rel='stylesheet', href="/public/css/main.css") 
    include includes/navigation.pug
  body
    block navigation
    - var fluid = ['container', 'is-fluid']
    div(class=fluid)
        block content